<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery Practise</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./styles.css" />
    <!-- Import Vue.js -->
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <!-- create our div to hold the app -->
    <div id="app">
      <!-- <h1>{{ product }}</h1>
      <p>{{ description }}</p> -->
      <div class="nav-bar"></div>
      
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img v-bind:src ="image">
            <!-- HOW DO WE BIND IMAGE vbind directive -->
          </div>
          <div class="product-info">
            <h1>{{ product }}</h1>
            <p>{{ description }}</p>
            <p><a :href="url">click to Google</a></p>
            <p v-if="inventory > 10">In Stock</p>
            <p v-else-if="inventory < 10 && inventory > 0">Almost Sold Out</p>
            <p v-else>Out of Stock</p>
            <p v-show="on_sale">On Sale!</p>
            <p v-if="on_sale"><span style="color: red;">In Stock</span></p><!--do not need to mention true as it is true if it matches-->
            <p v-else>This product is: <span style="color: rgb(0, 34, 255);">Out of Stock</span></p>
        

            <ul>
              <li v-for="detail in details">{{ detail }}</li>
              <!-- assembly line for making lists -->
            </ul>
            <div v-for="variant in variants" :key="variants.variant_id">
              <p @mouseover="update_product(variant.variant_image)">{{variant.variant_color}}</p>
            </div>
            <div>
              <li v-for="size in sizes">{{ size }}</li>
            </div>
            <!-- <button class="button" v-on:click="cart += 1">Add to Cart</button> WE CAN REPLACE THE CALCULATION WITH A METHOD -->
            <button class="button" v-on:click="add_to_cart">Add to Cart</button>
            
            <div class="cart">
              <p>Cart({{ cart }})</p>
            </div>
            <div>
              <button class="button" v-on:click="remove_item">Remove Item</button>
            </div>
          
          </div>
        </div>
      </div>
    </div>


  
    <!-- Import App -->
    <script src="./src/main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
